@page
@{ Layout = "_Layout"; }

<el-alert v-if="isSystem" type="warning">
  提示： {{ name }} 为系统模板，编辑此模板需要克隆至指定文件夹
</el-alert>

<div style="height: 10px;"></div>

<el-form ref="form" :model="templateInfo" size="small" label-width="120px">
  <el-form-item v-if="type == 'clone'" label="克隆模板">
    {{ name }}
  </el-form-item>
  <el-form-item label="模板文件夹" prop="name" name="name" :rules="{ required: true, message: '请输入模板文件夹' }">
    <el-input v-model="templateInfo.name"></el-input>
  </el-form-item>
  <el-form-item label="模板说明">
    <el-input type="textarea" v-model="templateInfo.description"></el-input>
  </el-form-item>
</el-form>

<el-divider></el-divider>
<div style="height: 10px"></div>

<el-row>
  <el-col :span="24" align="right">
    <el-button type="primary" v-on:click="btnSubmitClick" size="small">确 定</el-button>
    <el-button size="small" v-on:click="btnCancelClick">关 闭</el-button>
  </el-col>
</el-row>

@section Scripts{
  <script src="/assets/comments/js/templatesLayerEdit.js" type="text/javascript"></script>
}